ClientTest/ClientTest/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/appservice" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kayitekle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="kayitekleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kayitekleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gonderenusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliciusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatgoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gonderenusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliciusername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatgosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatgosterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="konumat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gonderenusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliciusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="y" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adres" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aciklama" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="konumatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="konumatResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coinayarla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coin" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coinayarlaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coinayarlaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coinbul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="coinbulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="coinbulResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatruletsayi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="kacakadar" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="chatruletsayiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chatruletsayiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userupdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="age" type="xs:int" />
        <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userupdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userupdateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="betplay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="coincount" type="xs:int" />
        <xs:element minOccurs="0" name="renk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="betplayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betplayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="altiuserbul">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="altiuserbulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="altiuserbulResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userbilgibul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="userbilgibulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/appservice" minOccurs="0" name="userbilgibulResult" nillable="true" type="q2:userbilgi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="konumbilgigoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gonderenusername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="aliciusername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="konumbilgigosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/appservice" minOccurs="0" name="konumbilgigosterResult" nillable="true" type="q3:konumbilgi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>