ClientTest/ClientTest/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53751/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/appservice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_kayitekle_InputMessage">
    <wsdl:part name="parameters" element="tns:kayitekle" />
  </wsdl:message>
  <wsdl:message name="IService1_kayitekle_OutputMessage">
    <wsdl:part name="parameters" element="tns:kayitekleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_chatle_InputMessage">
    <wsdl:part name="parameters" element="tns:chatle" />
  </wsdl:message>
  <wsdl:message name="IService1_chatle_OutputMessage">
    <wsdl:part name="parameters" element="tns:chatleResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_chatgoster_InputMessage">
    <wsdl:part name="parameters" element="tns:chatgoster" />
  </wsdl:message>
  <wsdl:message name="IService1_chatgoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:chatgosterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_konumat_InputMessage">
    <wsdl:part name="parameters" element="tns:konumat" />
  </wsdl:message>
  <wsdl:message name="IService1_konumat_OutputMessage">
    <wsdl:part name="parameters" element="tns:konumatResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_coinayarla_InputMessage">
    <wsdl:part name="parameters" element="tns:coinayarla" />
  </wsdl:message>
  <wsdl:message name="IService1_coinayarla_OutputMessage">
    <wsdl:part name="parameters" element="tns:coinayarlaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_coinbul_InputMessage">
    <wsdl:part name="parameters" element="tns:coinbul" />
  </wsdl:message>
  <wsdl:message name="IService1_coinbul_OutputMessage">
    <wsdl:part name="parameters" element="tns:coinbulResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_chatruletsayi_InputMessage">
    <wsdl:part name="parameters" element="tns:chatruletsayi" />
  </wsdl:message>
  <wsdl:message name="IService1_chatruletsayi_OutputMessage">
    <wsdl:part name="parameters" element="tns:chatruletsayiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userupdate_InputMessage">
    <wsdl:part name="parameters" element="tns:userupdate" />
  </wsdl:message>
  <wsdl:message name="IService1_userupdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:userupdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_betplay_InputMessage">
    <wsdl:part name="parameters" element="tns:betplay" />
  </wsdl:message>
  <wsdl:message name="IService1_betplay_OutputMessage">
    <wsdl:part name="parameters" element="tns:betplayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_altiuserbul_InputMessage">
    <wsdl:part name="parameters" element="tns:altiuserbul" />
  </wsdl:message>
  <wsdl:message name="IService1_altiuserbul_OutputMessage">
    <wsdl:part name="parameters" element="tns:altiuserbulResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_userbilgibul_InputMessage">
    <wsdl:part name="parameters" element="tns:userbilgibul" />
  </wsdl:message>
  <wsdl:message name="IService1_userbilgibul_OutputMessage">
    <wsdl:part name="parameters" element="tns:userbilgibulResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_konumbilgigoster_InputMessage">
    <wsdl:part name="parameters" element="tns:konumbilgigoster" />
  </wsdl:message>
  <wsdl:message name="IService1_konumbilgigoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:konumbilgigosterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kayitekle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/kayitekle" message="tns:IService1_kayitekle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/kayitekleResponse" message="tns:IService1_kayitekle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chatle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/chatle" message="tns:IService1_chatle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/chatleResponse" message="tns:IService1_chatle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chatgoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/chatgoster" message="tns:IService1_chatgoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/chatgosterResponse" message="tns:IService1_chatgoster_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="konumat">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/konumat" message="tns:IService1_konumat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/konumatResponse" message="tns:IService1_konumat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="coinayarla">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/coinayarla" message="tns:IService1_coinayarla_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/coinayarlaResponse" message="tns:IService1_coinayarla_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="coinbul">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/coinbul" message="tns:IService1_coinbul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/coinbulResponse" message="tns:IService1_coinbul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="chatruletsayi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/chatruletsayi" message="tns:IService1_chatruletsayi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/chatruletsayiResponse" message="tns:IService1_chatruletsayi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userupdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userupdate" message="tns:IService1_userupdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userupdateResponse" message="tns:IService1_userupdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="betplay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/betplay" message="tns:IService1_betplay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/betplayResponse" message="tns:IService1_betplay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="altiuserbul">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/altiuserbul" message="tns:IService1_altiuserbul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/altiuserbulResponse" message="tns:IService1_altiuserbul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="userbilgibul">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/userbilgibul" message="tns:IService1_userbilgibul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/userbilgibulResponse" message="tns:IService1_userbilgibul_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="konumbilgigoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/konumbilgigoster" message="tns:IService1_konumbilgigoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/konumbilgigosterResponse" message="tns:IService1_konumbilgigoster_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kayitekle">
      <soap:operation soapAction="http://tempuri.org/IService1/kayitekle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chatle">
      <soap:operation soapAction="http://tempuri.org/IService1/chatle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chatgoster">
      <soap:operation soapAction="http://tempuri.org/IService1/chatgoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konumat">
      <soap:operation soapAction="http://tempuri.org/IService1/konumat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="coinayarla">
      <soap:operation soapAction="http://tempuri.org/IService1/coinayarla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="coinbul">
      <soap:operation soapAction="http://tempuri.org/IService1/coinbul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chatruletsayi">
      <soap:operation soapAction="http://tempuri.org/IService1/chatruletsayi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userupdate">
      <soap:operation soapAction="http://tempuri.org/IService1/userupdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="betplay">
      <soap:operation soapAction="http://tempuri.org/IService1/betplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="altiuserbul">
      <soap:operation soapAction="http://tempuri.org/IService1/altiuserbul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userbilgibul">
      <soap:operation soapAction="http://tempuri.org/IService1/userbilgibul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="konumbilgigoster">
      <soap:operation soapAction="http://tempuri.org/IService1/konumbilgigoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:53751/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>