ClientTest/ClientTest/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/appservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/appservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userbilgi">
    <xs:sequence>
      <xs:element minOccurs="0" name="age" type="xs:int" />
      <xs:element minOccurs="0" name="coin" type="xs:int" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userbilgi" nillable="true" type="tns:userbilgi" />
  <xs:complexType name="konumbilgi">
    <xs:sequence>
      <xs:element minOccurs="0" name="aciklama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gonderenusername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="x" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="y" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="konumbilgi" nillable="true" type="tns:konumbilgi" />
</xs:schema>